<!-- use like component -->
<div class="form">
  <div style="text-align:center">
    <h1>
      Example Form
    </h1>
  </div>
  <app-dynamic-form [controls]="definitionsComponent" (submited)="submit($event)">
  </app-dynamic-form>
  <div class="margin-top">
    {{ form.form.value | json }}
  </div>
</div>

<!-- use like directive -->
<form class="form" [formGroup]="appForm" novalidate>
  <div style="text-align:center">
    <h1>
      Example Form
    </h1>
  </div>
	<div formControlName="pessoa" app-dynamic-form [controls]="definitions">
	</div>
</form>
<button class="button" (click)="save()" [disabled]="appForm.invalid">
  Salvar
</button>

<pre>
  {{ appForm?.value | json }}
</pre>
